header{
	width: 920px;
	height: 175px;
	margin: 0 auto;
}

header .logo{
	display: block;
	float: left;
	width: 143px;
	height: 38px;
	background-color: #BF3A16;
	color: #fff;
	font-family: "Time Roman";
	font-size: 34px;
	text-decoration: none;
	padding: 10px 20px;
}

header .text-logo{
	float: right;
	font-style: italic;
	font-size: 20px;
	margin-right: 5px;
	margin-top: 15px;
}

header .text-logo .color{
	color: #9e6756;
}

header .main-menu{
	float: left;
	background-color: #ebe9d8;
	width: 100%;
	margin-top: 2px;
	padding-left: 0;
	margin-bottom: 0;
}

header .main-menu li{
	float: left; 
	list-style: none;	
	text-align: center;
	border-left: 1px solid #fff;
}

header .main-menu li a{
	display: block;
	width: 123px;
	height: 11px;
	color: #000;
	padding: 15px 30px 30px;
	text-decoration: none;
	border-top: 4px solid #e6d9b5;
	font-size: 19.5px;
}

header .main-menu li:first-child {
	border-left: none;
}

header .main-menu li .active{
	color: #fff;
	background-color: #e0d5b4;
	position: relative;
}

header .main-menu li .active::before{
	content: " ";
	width: 0;
	height: 0;
	border-top: 20px solid #e0d5b4;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	position: absolute;
	top: 43px;
	left: 70px;
}

